<ion-view>
 <ion-content class="ionic login animate-pan-in-left" style="background-image: url('../img/mountains.jpg');">
 
     <form name="registrationForm">
      <div class="list">
          <!--placeholder was username-->
          <ion-md-input type="email" placeholder="Email" ng-model="reg.username" required></ion-md-input>
          <ion-md-input type="password" placeholder="Password" ng-model="reg.password" required>
          </ion-md-input>
          <ion-md-input type="text" placeholder="Your Name" ng-model="reg.name" required></ion-md-input>
          <!--placeholder was +919876543210-->
          <ion-md-input type="text" placeholder="PhoneNumber starting with (+254)" ng-model="reg.phone" ng-pattern="/^\+\d+$/" required>
          </ion-md-input>
      </div>
      <div class="padding">
            <button class="button button-block button-positive waves-effect waves-light" ng-disabled="registrationForm.$invalid" ng-click="registerUser()">Register &nbsp
            <i class="ion-paper-airplane"></i>
             </button>

        </div>
    </form>
  </ion-content>
</ion-view>
    